<h3><%= @farm.name %></h3>
<h3><%= link_to "All Farms", farms_path %></h3>
<div class="farm_info">
  <p>Location: <%= @farm.location %></p>
</div>

<nav>
  <ul>
    <li>  <%= link_to "Edit #{@farm.name}", edit_farm_path(@farm) %></li>
    <li>  <%= link_to "Remove #{@farm.name}", farm_path(@farm),
        method: :delete, data: {confirm: "Remove this farm?"} %></li>
  </ul>
</nav>
