<h1><%= @farm.name %></h1>
<h2><%= link_to "All Farms", farms_path %></h2>

<p>Location: <%= @farm.location %></p>
<p>Specialty: <%= @farm.specialty %></p>
<h2><%= link_to "Products for sale", products_path(@farm) %></h2>

<div>
  <img src="<%= @farm.img_url%>" >
</div>

<%= link_to "Edit #{@farm.name}", edit_farm_path(@farm) %>
<%= link_to "Remove #{@farm.name}", farm_path(@farm),
  method: :delete, data: {confirm: "Remove this farm?"} %>
